<%- include('header') %>

<h2>Admin Vagas &nbsp; | &nbsp;  

<a href="/admin/vagas/criarVaga" class="novaVaga">Nova vaga</a>
<a href="/admin/categorias" style="float: right; text-decoration: none; color: green;">Categorias</a>
</h2>

<div>
    <ul>
        <% vagas.forEach( vaga => { %>
        <li><%- vaga.titulo %> | <a class="excluirButton" href="/admin/vagas/delete/<%- vaga.id %>">Excluir</a> | <a class="editarButton" href="/admin/vagas/editar/<%- vaga.id %>">Editar</a></li>
        <% }) %>
    </ul>
</div>
<%- include('footer') %>